/* Font & Reset */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
    text-align: center;
  }
  
  /* Navbar */
  .navbar {
    background-color: #009ef7;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
  }
  .logo{
    margin-left: 3rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 6rem;
  }
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 750;
    font-size: 20px;
  }
  .user-icons img {
    width: 40px;
  }
  
  /* Container & Cards */
  .container {
    max-width: 1300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 70px;
    padding: 0 20px;
    margin-top: -5px
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    padding: 20px 25px; /* lebih besar dari sebelumnya */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.2s ease;
  }
  .card:hover{
    transform: translateY(-15px);
  }
  .card .user {
    font-weight: bold;
    color: #00aaff;
  }
  
  .card .date {
    margin-top: -10px;
    font-size: 12px;
    color: #888;
  }
  
  .card .content {
    white-space: pre-line;
    font-size: 14px;
    color: #333;
  }
  
  .floating-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00aaff;
    padding: 22px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .floating-icon img {
    width: 24px;
    height: 24px;
  }
  
  .floating-btn:hover {
    transform: scale(1.1);
  }
  
    /* Footer */
  .footer {
    background-color: #009ef7;
    color: white;
    padding: 2rem;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }
  .footer-grid ul {
    list-style: none;
    padding-top: 0.5rem;
  }
  .footer-grid input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 1rem;
  }

  .user-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #009ef7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 200px;
}
.user-menu.hidden {
  display: none;
}
.menu-item {
  color: #000000;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item:hover {
  background-color: #f0f0f0;
}